* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.card {
  margin: 100px auto;
  width: 50%;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 20px;
  overflow: auto;
}

.card > h2, .card > p, .card > .item {
  display: flex;
  flex-direction: row;
  margin: 20px;
}

.item > img {
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: rgb(19, 33, 249);
}

.item > .progress-bar {
  flex-grow: 1;
  padding: 10px;
}

.item > .progress-bar > .bar {
  width: 100%;
  height: 100%;
  background-color: rgb(223, 242, 199);
}
